<header>
    <div class="header-logo">
        <a href="/">Umepult</a>
    </div>
    <ul class="header-menus">
        <li>
            <a href="/about">What's Umepult</a>
        </li>
    </ul>
</header>
<div class="about-main">
    <%= @match.Ateam%>
    <%= @match.Bteam %>
</div>