
<div class="main top-main">
  <div class="top-message">
    <h2>Welcome to Umepult</h2>
    <p>Let's get start!</p>
    <%=form_tag("/home/create")do%>
      <p class="inputTeamName">
        <p>TeamA</p>
        <input name="Ateam">
        <input  name="Acolor" type="color">
      </p>
      <p class="inputTeamName">
        <p>TeamB</p>
        <input name="Bteam">
        <input name="Bcolor" type="color">
      </p>
      <input type="submit" value="Go">
    <%end%>
  </div>
</div>