<div class="main posts-index">
  <div class="container">
    <% @matches.each do |match| %>
      <div class="posts-index-item">
        <%= match.Ateam %>
        <%= match.Bteam%>
      </div>
    <% end %>
  </div>
</div>